{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JEJU CARCAMPING</title>
    <link rel="stylesheet" href="{% static './css/reset.css' %}">
    <link rel="stylesheet" href="{% static './css/map.css' %}">
    <link rel="stylesheet" href="{% static './css/slide.css' %}">
    <link rel="stylesheet" href="{% static './css/style.css' %}">
</head>
<body>
    <main class="main_container">
        <nav class="sub_nav_container">
            <h2><a href="{% url 'index' %}">carcamping</a></h2>
        </nav>
        {% load static %}
        <video src="{% static './video/background_video2.mp4' %}" autoplay muted loop></video>
        <section class="text_container">
            <h1>{{place.name}}</h1>
            <p><i class="fa-solid fa-location-dot"></i> 주소 : {{place.location}}</p>
            {% if place.facilities != "-" %}
                <p><i class="fa-solid fa-store"></i> 편의시설 : {{place.facilities}} </p>
            {% else %}
            {% endif %}
            {% if place.info != "-" %}
                <p><i class="fa-solid fa-umbrella-beach"></i> 소개 : {{place.info}}</p>
            {% else %}
            {% endif %}
            {% if place.moreinfo != "-" %}
                <p><i class="fa-solid fa-circle-info"></i> 상세 정보 : {{place.moreinfo}}</p>
            {% else %}
            {% endif %}
        </section>

        <button class="show-roadmap">로드맵보기</button>
        <section class="map_slider_container">
            <!-- map_container -->
            <div class="map_container">
                <div id="roadview" style="width:40%;height:400px"></div> 
                <div id="map" style="width:40%;height:400px"></div> 
            </div>

            <!-- slider_container -->
            <div class="slider_container">
                <div class="carousel-container">
                    <i class="fa-solid fa-arrow-left-long" id="prevBtn"></i>
                    <i class="fa-solid fa-arrow-right" id="nextBtn"></i>
                    <div class="carousel-slide">
                        {% for a in photo %}
                            <img src="../../media/{{a.photo}}" alt="">
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </main>

    
    <script src="https://kit.fontawesome.com/88a1e9c0a5.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c8656eb9abde658d11ee5b7b90a70500"></script> 
    <!-- js 사용 변수 -->
    <script type="text/javascript">
        var place = "{{place.name}}";
        var pLocation = "{{place.location}}";
        var pLat = "{{place.lat}}";
        var pLan = "{{place.lan}}";
        var pMapoverlat = "{{place.mapoverlat}}";
        var pMapoverlan = "{{place.mapoverlan}}";
        var pMaplink = "{{place.maplink}}";
        var pMapthumb = "{{place.mapthumb}}"
    </script>
    <script src="{% static './js/slide.js' %}"></script>
    <script src="{% static './js/map.js' %}"></script>
    <script src="{% static './js/detail.js' %}"></script>

</body>
</html>

