{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static './css/slide.css' %}">
    <link rel="stylesheet" href="{% static './css/reset.css' %}">
    <!-- <link rel="stylesheet" href="{% static './css/detailmap.css' %}"> -->
    <link rel="stylesheet" href="{% static './css/detailstyle.css' %}">
</head>
<body>
    <main class="main_container">
        <section class="text_container">
            <h1>{{place.name}}</h1>
            <p>주소 <i class="fa-solid fa-location-dot"></i> : {{place.location}}</p>
            {% if place.facilities != "-" %}
                <p>편의시설 <i class="fa-solid fa-square-parking"></i> : {{place.facilities}} </p>
            {% else %}
            {% endif %}
            {% if place.info != "-" %}
                <p>소개 <i class="fa-sharp fa-solid fa-comment"></i> : {{place.info}}</p>
            {% else %}
            {% endif %}
            {% if place.moreinfo != "-" %}
                <p>상세 정보 <i class="fa-solid fa-circle-info"></i> : {{place.moreinfo}}</p>
            {% else %}
            {% endif %}
        </section>

        <button class="show-roadmap">로드맵보기</button>
        <section class="map_slider_container">
            <!-- map_container -->
            <div class="map_container">
                <div id="roadview" style="width:40%;height:400px"></div> 
                <div id="map" style="width:40%;height:400px"></div> 
            </div>

            <!-- slider_container -->
            <div class="slider_container">
                <div class="carousel-container">
                    <i class="fa-solid fa-arrow-left-long" id="prevBtn"></i>
                    <i class="fa-solid fa-arrow-right" id="nextBtn"></i>
                    <div class="carousel-slide">
                        {% for a in photo %}
                        <img src="../../media/{{a.photo}}" alt="">
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </main>

    
    <script src="https://kit.fontawesome.com/88a1e9c0a5.js" crossorigin="anonymous"></script>
    <!-- <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c8656eb9abde658d11ee5b7b90a70500"></script> -->
    <!-- <script src="{% static './js/detailmap.js' %}"></script>
    <script src="{% static './js/detailroadmap.js' %}"></script> -->
    <script src="{% static './js/slide.js' %}"></script>
</body>
</html>


<!-- <script type="text/javascript">
    var photojson = {{photojson|safe}}

    var arr = new Array();
    for (var i=0; i < photojson.length; i++){
        arr[i] = [
            photojson[i].fields.place,
            photojson[i].pk,
            photojson[i].fields.photo,
            ];
    }
</script> -->
<!-- <p>
    {% for a in photo %}
        {{a.photo}}
            {{a.photo}}
            http://127.0.0.1/media/place/test2.jpg
            <img src="../../media/{{a.photo}}"/>
    {% endfor %}
</p> -->
<!-- <script type="text/javascript">
    var name = "{{name}}"
    console.log(name)
</script> -->

 <!-- 다중 이미지 테스트 -->
