<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/map.css">
    <link rel="stylesheet" href="./css/style.css">
</head> -->
<body>
    <section class="container1">
        <header class="container1-header">
            <h2><a href="./index.html">CARCAMPING</a></h2>
        </header>

        <main class="main-content">
            <h1>제주도의 차박 장소를 한눈에 보기!</h1>
            <p>수 많은 차박지 중에서 유명한 장소에 대해 보기 쉽게 안내해드릴게요</p>
            <div class="more-content-btn"><a href="#more-content">자세히 알아보기</a></div>
        </main>
    </section>

    <section class="container2" id="more-content">
        <header class="container2-header">
            <h2>
                사람들은 <strong>왜</strong> 차량에서 숙식을 해결하고 캠핑을 즐기는<br>
                제주도의 <strong>차박</strong>을 선택했을까요?
            </h2>
            <p>다른 여행과 다른 차박만의 매력적인 포인트를 만나보세요</p>
        </header>

        <article class="card-container">
            <div class="card">
                <div class="card-img1"></div>
                <div class="card-text">
                    <h2>장점1</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, excepturi.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-img2"></div>
                <div class="card-text">
                    <h2>장점2</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, maxime.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-img3"></div>
                <div class="card-text">
                    <h2>장점3</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, maxime.</p>
                </div>
            </div>
        </article>
    </section>

    <section class="container3">
        <article class="map-container map-container1">
            <div class="map-text1">
                <h2 class="map-text-margin-bottom">지도설명1</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, tempore distinctio deserunt, ex quibusdam molestias qui alias ipsam, minima facere maxime? Facere libero doloremque quasi porro recusandae molestias laudantium cumque.</p>
            </div>
            <div class="map-img1"></div>
        </article>

        <article class="map-container map-container2">
            <div class="map-img2"></div>
            <div class="map-text2">
                <h2 class="map-text-margin-bottom">지도설명1</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, tempore distinctio deserunt, ex quibusdam molestias qui alias ipsam, minima facere maxime? Facere libero doloremque quasi porro recusandae molestias laudantium cumque.</p>
            </div>
        </article>
    </section>

    <div>
        <p>{{ places }}</p>
        <p>{{ places.0 }}</p>
        <p>{{ places.0.lat }}</p>
        <p>{{ places.0.location }}</p>
    </div>
    <div id="map" style="width:100%;height:350px;"></div>

    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c8656eb9abde658d11ee5b7b90a70500"></script>
    <script src="https://kit.fontawesome.com/88a1e9c0a5.js" crossorigin="anonymous"></script>
    <script src="./js/text_random.js"></script>
    <script type="text/javascript">
        var placesjson = {{placesjson|safe}};
    </script>
    {% load static %}
    <script src="{% static 'map.js' %}"></script>
</body>
</html>